*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.wht{
    color: white;
}

.grey{
    color: lightslategray;
}

.txt-cntr{
    text-align: center;
}


/* utilities
------------------ */ 
/* proprietà body e contenitore di tutto il contenuto */
body{
    background-color: #222326;
}

.container-body{
    width: 100vw ;
    height: 100vh ;
    flex-wrap: wrap;
}
/* fine proprietà body e container */
/* inizio sezione sidebar */
.sidebar{
    background-color: black;
    height: 90%;
}

.searchbar, .userbar{
    margin: 5px;
}

.container-sidebar{
    justify-content: space-between;
    height: 100%;
}

.container-sidebar, .searchbar,.userbar{
    flex-direction: column;
}

.logo-big, .sp-home, .sp-search, .sp-library, h4,.square-grey, .name-playlist, .create-playlist, .sp-arrow, .my-name, .divide{
    display: none;
}

.logo-small img,.home img,.search img,.library img,.user-gray{
    width: 20px;
    height: 20px;
}

.square-grey{
    width: 50px;
    height: 50px;
    background-color: gray;
    margin-top: 5px;
}

.square-grey i{
    font-size: 30px;
}

.create-playlist{
    padding: 20px 8px;
}

.name-playlist{
    padding: 5px 0px;
}

.user-gray img{
    width: 20px;
    height: 20px;
}

.user-gray{
    background-color: grey;
    border-radius: 50%;
    background-image: url(../img/profile.svg);
    background-position: center;
    margin-top: 2px;
}

.arrow{
    margin-bottom: 5px;
}

.arrow img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.my-name{
    padding: 2px 8px;
}

.divide{
    width: 70%;
}

/* inizio sidebar per tablet e pc */
@media screen and (min-width: 426px){
    .logo-big, .sp-home, .sp-search, .sp-library,h4,.square-grey, .name-playlist, .create-playlist, .sp-arrow, .my-name, .divide{
        display: block;
    }

    .logo-big, .sp-home, .sp-search, .sp-library{
        font-size: 12px;
        padding-top: 4px;
        padding-left: 4px;
    }

    .sp-arrow{
        font-size: 12px;
        padding-left: 4px;
    }

    .logo-big, .home, .search, .library{
        padding: 5px 0px;
    }

    .logo-big img{
        width: 130px;
        height: 40px;
    }

    .logo-small{
        display: none;
    }
}
/* fine sezione sidebar */
/* inizio sezione main */

.main{
    flex: 1;
    height: 90%;
    overflow-y: auto;
}

.navigation, .recently-played, .created-for-user, .popular-artist{
    padding: 10px;
}

.do-upgrade{
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    text-align: right;
    padding: 10px 5px;
}

.btn{
    background-color: rgba(0, 0, 0, 0.5) ;
    border: 1px solid white;
    padding: 8px 25px;
    border-radius: 20px;
}

.navigation{
    justify-content: space-around;
    flex-wrap: wrap;
    height: 110px;
}

.recently-played, .created-for-user,.popular-artist{
    flex-wrap: wrap;
}

.recently-played figure, .created-for-user figure, .popular-artist figure{
    width: calc(100% / 2);
    padding: 5px;
}

/* .created-for-user{
    background-color: blueviolet;
}

.recently-played{
    background-color: blue;
} */

.recently-played figure{
    /* background-color: red; */
    /* height: 172px; metti altezza dopo che verrà */
}
/* 
.created-for-user figure{
    background-color: burlywood;
}

.popular-artist figure{
    background-color: brown;
} */
/* fine main */
/* inizio footer */
.footer{
    width: 100%;
    height: 10%;
    background-color: green;;
}

.footer div{
    width: calc(100% / 3);
    height: 100%;
}

.song{
    background-color: chocolate;
}

.player{
    background-color: palevioletred;
}

.volume{
    background-color: lawngreen;
}